language: go
go:
- 1.11.x
before_script:
- export OLDATA=$GOPATH/test
- export OLROOT=$GOPATH/src/github.com/Oneledger
- export OLSCRIPT=$OLROOT/protocol/scripts
- export OLSETUP=$OLROOT/protocol/setup
- export OLTEST=$OLROOT/protocol/tests
- export GO111MODULE="on"
- export PATH=$PATH:$GOPATH/bin
- export OLDEBUG=true
- openssl aes-256-cbc -K $encrypted_64046c0b275a_key -iv $encrypted_64046c0b275a_iv
  -in $TRAVIS_BUILD_DIR/.secrets.tar.enc -out $TRAVIS_BUILD_DIR/secrets.tar -d
- cd $TRAVIS_BUILD_DIR && tar xvf secrets.tar
- chmod 600 DevNet.json id_rsa
- eval $(ssh-agent -s)
- ssh-add $TRAVIS_BUILD_DIR/id_rsa
- cd $TRAVIS_BUILD_DIR && git clone git@github.com:Oneledger/infrastructure.git --branch
  master
script:
- cd $OLROOT/protocol && make update install_c
- cd $OLROOT/protocol && make utest
- cd $OLROOT/protocol && make fulltest
before_deploy:
- sudo apt-get update && sudo apt-get install unzip python python-pip
- sudo pip install netaddr ipaddr cryptography==2.2.2 ansible
- wget https://releases.hashicorp.com/terraform/0.11.13/terraform_0.11.13_linux_amd64.zip
- unzip terraform_0.11.13_linux_amd64.zip
- sudo mv terraform /usr/local/bin/
- cp $TRAVIS_BUILD_DIR/DevNet.json $TRAVIS_BUILD_DIR/infrastructure/gcp
deploy:
- provider: releases
  skip_cleanup: true
  prerelease: true
  draft: true
  api_key:
    secure: 2bnCcsdf5wf6zOYTJoYhunhzilLVFHL0ToSoVo8hXpaCsBtGGbO74uA3lustVSIbfrcKfE6XNMB0rOqUujEZiUtL2YvowTOFi/XuhNYO3IC9G+jdo5miCvh6PRo0O/eSsz2gluTIKPp8MPTvqfeWExgPvtUDYp9XDbRn8Pi2DPrdJ5JHmAusVVzYnVfulUjlah8yHsgLEkGlLFS0m/E1QudvlM8bqEIOnDKY4E+PdXANaWQSqNwj2rYlC2OqMSAUucvCsPENLtAuaWOo8/GJXlJqGTJr4cQNgZs+cA0CGicgnlmkmMtV7p3Cxtdactj7I5irkNCdL0YIRHwL8THo1xuWjTtqugxeDqcOHMPnGVKaCtbh0mzVzGuQTS3B5B3Ihp03JeZVq6rjGIKrYyTSjV2nD0HiCpKWb4rm4MQc2OFPoMqmmMWX4eKGp2sa04pF0v1NXK98B0qtUHgt2u/Zd+HjT8X4LoMiuh1g+6+DkGzSaQK8gSRd3B1rW/bx7ucJtQV+nb/nnfKvd2zLT6Z8WUuycJwkt+lA3jxDhiXm5apq8UN8zw/9JhAwjU04ID+gKNkjp3CALf5QlvBATT5PHSW+HrqLeS8wBwdjOVRBR8i1Rn0tFjsFhfQRFKhPSoVm3l1BfI23B2vLfN047pGtUceCzq55t2yD4IaSa+67go0=
  file_glob: true
  file: "$GOPATH/bin/*"
  on:
    repo: Oneledger/protocol
    branch: master
- provider: script
  skip_cleanup: true
  script: cd $TRAVIS_BUILD_DIR/infrastructure/ansible && ansible-playbook main.yml
    -v --extra-vars "reset_network=true"
  on:
    branch: develop
- provider: script
  skip_cleanup: true
  script: cd $TRAVIS_BUILD_DIR/infrastructure/ansible && ansible-playbook main.yml
    -v --extra-vars "reset_network=true"
  on:
    tags: true
env:
  global:
  - secure: yWcEeiAVQrQPELui/7nlbCFyqDSbSO2z7Fee9+kdlhH0Stn+kJD6Q3pt5vtYj4hwXuxQcCBeMQXypghKsJc3kCsDyz5N++JRW+5kTTUNV/wMVBXJ9Cs+15BNpUX0R4eBTtIp34cpMKi2ctiApjbqkpRopNVGmE1rP0QdJkQ3Qh+HdSSk5DL9Mtod3nIYGw3Ne+dhRTvrGYicwavxQDkRQv81vQ82/LsIai/TKuErftB+6r3TLWtGJvHN0YjhNWmvLbPN7twq63Gx3C4ChSAEbLntBASeWml0/Ii4DMQDSVHxPvlaBQzMeH7XbG4/pmx5LVrJG/+lwQAzKK3ueR4kc9jiIJelTywQpLJet8mnTvImm87L+T717SEt9mkWObciXANfz7nE6oEohkcsVGOrJnCGE9opecipsYTzxQkIgzyxC6dx8uv2QI43t/Ffvtv77VWoH/hUzkrhdVB/i1mwjMW7NlHs5lrCRvPjWds3l6D4TXyHsA+bUFpXYcC4ie05nEz0gd9cCQ/U6hUsMPWAERt9DG68i95oThHRCxULfGrTyWsztSB+Db66jrXXa6aG5QIT1VvTzifYfyZ05oKa8WyiS1YAORrh/Ft9OHC/Ja0Q+xPuxYPX2HSsvbAHYD/dK7kNaLSlKs/09QzHfqdmLNENhi7fL1PYaQGOd7ujly8=
  - secure: SzF5+qspQTFpxnjm45SKNgS+mFbaZxrmONCN2OVcI1BuJgfilC9CWIaDHATQcV0BfxHxkCIfTzBwM28GEjNYhoGvEPxHnl1micxHQvm6RKgYa+aeK9MzV6feIayHj3AYdjb6VtBKcEFkP4v/gB3YroNzBoa2hxI2LKMkc/vbLbo3DLGRC7syWk5DOIOJRWkzMif0WkkZxojot69zM1YxsFa6vYDDNYS7A+BBzpfzNAdHpnGR0dplKIsQ7BMY6oshfyOapt0+/iSMTRXQYslkHrx9V06UkR1oEyM+he2V3ZmoLj8YFZPgZEeLF6QFjA3Qbjrx3oyWeXuGpIxewHRCQyE6MnuC1OuzGdM6XIZwYGuOQq0i2ux+axG8OUuI9q3r4SkZxLGExTV1EyY//zyM48/Gd18aBnwpEcHRsxRxXpkoImCrb82KugaQUyuJlw3d4JR+CmpOlJOFEzux+6JVNkS8GuFkLbFqA6g9ovDzRQPP3+zcebXy89xD8pu+3Qr1nnV4wOmj7ujDPTbzZn2pi6x6AQvDoKc+c0qTlCFiAyiZPMf+twx7hmZ8lEISzHxbPYBI76DocSdburJ7UoDT+WNL9W0XG6t/XqrioguQGSNB+2S++QYOGasAYJ6oQcdHkLloKNpBx1w664Ifzk3wTcDGvjkAu0lLLT3j+0fDBt0=
notifications:
  slack:
    on_failure: change
    on_success: change
    rooms:
      secure: aALLEM4/HVjUGsHukIR6zoypzPyRFvGp7cqHPy17GO9sOwyZxXLjbC/stdfjMC3H+04gkOJjAxlpr9bCchm1Belrat6tZMiE/MYXQC2ZDoIRXqWzUq+bf+zCfm0AxVSf7tU1ioqjGmDcnINZXr7AzPM1IFx48iVM6KUUVhExVPQAZE83JiyLB9EaFZLi6yxqIlxx8Lfug/YFl5WSOMU8ZQPr6UWDowuTZjYe1f2LktQ3O949GdqvkKWBF4KbRjKjBOCZmJAWb43oYehejGI0zuoU3mprOUbYMv/Ml8KNyQpu/wwdbzfp8JmOwOFLUq7pvs8yAez0YetTYVACrPj3oFsty3KwQH1t0CVYPD/5f5NkBPYF6HHK3r5aqM9yS8pn3jy/IAmrMV9993tqI+X7I3ty/DaKl+xz+G2V7bMojSYKFP9EzTfk9iDtEzDVSOvccTd+vbls5RI9eycNIYRp/rzQLuIdkmqBqVOaesprnp6EAK7AwH0Z9DskFttWkpBNjlIY55a4R/sYDemazRuD7Ibalmk1HyTEvBIvJgkD30Dn8RZ+ojmIQHs4GyV7ysH8xL3CPSnXEhlLPa6NbUNLPur9557JBvsgEcXeJ2+yJTCxnsNEvAmH+brTTWToY2kj/bmLoYWR2rWDoLHGtxwDlC8eeFevh5wZw5REcab6EQ0=
